
@mixin flexWithStretch{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

@mixin flexColumnWithGap($gap:0){
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
}

@mixin font20default{
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.6px;
}

@mixin font40default{
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.mainWrapper {
  display: flex;
  width: 1920px;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(0deg, rgba(76, 96, 121, 0.40) 10%, rgba(218, 226, 236, 0.40) 90%);


  //header
  .headerWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    padding: 0 40px;
    //background: url("../../assets/background_image.png") no-repeat center center / cover; /* 배경 이미지 추가 */
    position: relative;
  }

  .headerTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .text {
    color: var(--Color-GrayScale-G-700_bodytext, #404040);
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
    -webkit-text-stroke-color: var(--Color-GrayScale-white, #FFF);
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 75.6px */
    letter-spacing: -1.62px;
  }

  .homeButtons {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 10px;
  }

  .editButton {
    background-image: url("../../assets/edit_button.svg");
  }

  .homeButton {
    background-image: url("../../assets/home_button.svg");
  }


  //main portfolio
  .bodyWithImageWrapper {
    width: 1920px;
    height: 700px;
    background: var(--Color-Special-Sdarkblue-100, #DAE2EC);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .mainImageWrapper {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 200px;
    border: 5px solid #AFC2D9;
    background: var(--Color-GrayScale-white, #FFF);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.50);
    overflow: hidden;
    position: absolute;
    z-index: 2;
  }

  .profileImage {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/profile_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .subtract {
    width: 1920.114px;
    height: 650px;
    flex-shrink: 0;
    fill: var(--Color-Special-Sdarkblue-400, #4C6079);
    background-image: url("../../assets/subtact.svg");
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }


  //  one text box area
  .oneTextBoxArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 1920px;
    padding: 75px 0 125px 0;
    background: linear-gradient(0deg, #4C6079 0%, #7592B5 100%);
  }

  .oneTextArea {
    @include flexColumnWithGap(50px);

    width: 728px;
    padding: 30px 0;

  }

  .oneTextWrapper {
    @include flexWithStretch;

    flex: 1 0 0;
    color: var(--Color-GrayScale-G-000_bg, #F6F6F6);
    text-align: center;

    > .title {
      @include font40default;

      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
      letter-spacing: -1.2px;
    }

    > .body {
      @include font20default;

    }
  }


  //  image box box area
  .imageBoxArea {
    @include flexColumnWithGap(50px);

    width: 1920px;
    padding: 75px 0 125px 0;
    background: var(--Color-Special-Sdarkblue-100, #DAE2EC);
  }

  // 텍스트 영역
  .textArea {
    @include flexColumnWithGap(50px);

    width: 728px;
    padding: 30px 0;
  }

  .titleWrapper {
    @include flexWithStretch;
    @include font40default;
    letter-spacing: -1.2px;

    flex: 1 0 0;
    color: var(--Color-GrayScale-G-700_bodytext, #404040);
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
    -webkit-text-stroke-color: var(--Color-GrayScale-G-000_bg, #F6F6F6);
  }

  .hashTagWrapper{
    @include flexWithStretch;
    gap: 15px;
    align-self: stretch;
    flex-wrap: wrap;
  }

  .tags{
    display: flex;
    padding: 5px 15px;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    border: 1px solid #344151;
    background: var(--Color-Special-Sdarkblue-400, #4C6079);

    > .tagText{
      color: var(--Color-GrayScale-G-000_bg, #F6F6F6);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: -0.48px;

      &:before {
        content: '# ';
      }
    }
  }

  .bodyWrapper {
    @include flexWithStretch;
    @include font20default;

    flex: 1 0 0;
    color: var(--Color-GrayScale-G-500_subtext, #6B6B6B);
    text-align: center;
  }

  // 이미지 영역
  .imageArea {
    @include flexWithStretch();
    gap: 15px;

  }

  .imageFrame{
    display: flex;
    width: 800px;
    height: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: var(--Color-GrayScale-white, #FFF);

    transition: transform 0.3s ease;

    > .image{
      width: 50px;
      height: 50px;

      //background-image: url("../../assets/empty_img.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .imageHandler{
    display: flex;
    width: 80px;
    height: 450px;
    padding: 0 21.5px 0 21px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 0 25px 25px 0;
    background: var(--Color-Special-Sdarkblue-500_main, #344151);

    cursor: pointer;

    &.right{
      right: 0;
    }

    &.left{
      left: 0;
    }
  }

  .polygon{
    width: 40.508px;
    height: 37.5px;

    &.left{
      background-image: url("../../assets/left_polygon.svg");
    }

    &.right{
      background-image: url("../../assets/right_polygon.svg");
    }
  }

}



